body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}
header, footer {
  background-color: #004466;
  color: white;
  padding: 20px;
}

.card-container {
  display: flex;
  justify-content: center;
  gap: 20px
  margin: 40px auto;
  flex-wrap: wrap;
}

.card {
  border: 2px solid #ccc;
  padding: 10px;
  width: 200px;
  cursor: pointer;
  transition: transform 0.2x;
}

.card:hover {
  transform: scale(1.05);
}

.hidden-text {
  display: none;
  margin-top: 10px;
    color: #333;
}
